
<!-- not sure why the search and favorite buttons are on top of the header -->

<div class="jumbotron text-center">
  <h1>StockPot Recipes</h1>
  <p>Need a subtitle here ?</p>
</div>
<div>

  <p>Main Item</p>

  <div>
    <label>
      <input type="radio" name="meat" value="1" [(ngModel)]="service.meat">
      Beef
    </label>
  </div>

  <div>
    <label>
      <input type="radio" name="meat" value="2" [(ngModel)]="service.meat">
      Chicken
    </label>
  </div>
  
  <div>
    <label>
      <input type="radio" name="meat" value="3" [(ngModel)]="service.meat">
      Pork
    </label>
  </div>

  <div>
    <label>
      <input type="radio" name="meat" value="4" [(ngModel)]="service.meat">
      Lamb
    </label>
  </div>

<!-- HEALTH LABELS -->
  <p>Health Options</p>

  <!-- Grady removed these options because they seem kind of conceptually incompatible with the meat selector -->
  <!-- <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.vegan">
      Vegan
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.vegetarian">
      Vegetarian
    </label>
  </div> -->

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.sugarConscious">
      Sugar-Conscious
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.peanutFree">
      Peanut-Free
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.treeNutFree">
      Tree-Nut-Free
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.alcoholFree">
      Alcohol-Free
    </label>
  </div>

<!-- DIET LABELS -->
  <p>Diet Options</p>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.balanced">
      Balanced
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.highProtein">
      High-Protein
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.lowCarb">
      Low-Carb
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="service.lowFat">
      Low-Fat
    </label>
  </div>


  <button (click)="fetchRecipes()" routerLink="/recipeList" routerLinkActive="active"> Submit </button>
</div>